body {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
    "header header header"
    "main main main"
    "main main main"
    "main main main"
    "footer footer footer"
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

.closed {
    display: none;
    position: fixed;
}

.open {
    display: flex; 
    justify-content: center;
    align-items: center;
}