body {
    height: 100vh;
    font-family: "Roboto", sans-serif;
    display: grid;
    grid-template-columns: 3fr ;
    grid-template-rows: 1fr, 4fr, 1fr;
    grid-template-areas:
    "header"
    "hr"
    "main"
    "footer"
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

header {
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem; 
}

footer {
    display: flex;
    justify-content: space-between;
    justify-items: end;
}

#taskMenu {
    display: flex;
    justify-content: center;
}

.task {
    display: flex;
    justify-content: space-around;
    background-color: #F8F8F8;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 1rem;
    margin: 0.5rem;
}

.closed {
    display: none;
    position: fixed;
}

.open {
    width: fit-content;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 1rem;
}

button {
    background-color: blueviolet;
    color: white;
    font-size: 1rem;
    border-radius: 1rem;
    height: 4rem;
}

button:hover {
    background-color: white;
    color: blueviolet;
    transition-property: all;
    transition-duration: 0.5;
    transition: ease-in-out;
}
